<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>AssetFlow Login</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="login-box">

<h1>AssetFlow</h1>

<p>Enterprise Asset & Resource Management</p>

<input type="email" placeholder="Email">

<input type="password" placeholder="Password">

<button onclick="window.location.href='/dashboard'">
Login
</button>

</div>

</body>
</html>